body {
    font-family: "Comfortaa", sans-serif !important;
}

.center {
    text-align: center !important;
}

.login {
    padding-top: 10vh;
    margin: auto;
}

.login-form {
    margin: auto;
    width: 25%;
    padding: 3em;
}

.login-form-button {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .login-form {
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .login-form {
        width: 45%;
    }
}